* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    background-color: #1a72ac;
    color: white;
    padding: 25px 50px; 
    font-size: 25px;
    text-align: center;
}
.link {
    background-color: transparent;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    text-decoration: none;
}
.grade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
        width: 90%;
    }
    div.lateral {
        width: 5%;
        height: 100vh;
        background-color: #1a72ac94;
    }
}